<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Monitoring System</title>
</head>
<body>
    <h1>Greenhouse Monitoring System</h1>
    <div class="button-container" id="buttonContainer"></div>
    <div id ="variableContainer">
        <p>Temperature Setting: <span id="tempSetting"></span></p>
        <p>Moisture Setting: <span id="moistureSetting"></span></p> 
        <p>Current Operating Mode: <span id="operatingMode"></span></p> 
        <p>Light: <span id="light"></span></p> 
        <p>Pump: <span id="pump"></span></p> 
    </div>
    <div id="graphContainer">
        <img id="graphImageTemp" src="data:image/png;base64,{{ graph_data_temp }}" alt="Graph">
        <img id="graphImageMoisture" src="data:image/png;base64,{{ graph_data_moisture }}" alt="Graph">
    </div>

    <script>
        var temp_setting = 0
        var moisture_setting = 0
        var operating_mode = "Auto"
        var light = 0
        var pump = 0

        window.onload = function() {
            refresh();
        }

        function displayButtons() {
            var buttonContainer = document.getElementById('buttonContainer');
            buttonContainer.innerHTML = ''; // Clear previous buttons

            if (operating_mode === 'Manual') {
                buttonContainer.innerHTML += '<button class="button" onclick="clearReadings()">Clear Sensor Readings</button>';
                buttonContainer.innerHTML += '<button class="button" onclick="autoMode()">Switch to Auto</button>';
                buttonContainer.innerHTML += '<button class="button" onclick="toggleLight()">Toggle Light</button>'; 
                buttonContainer.innerHTML += '<button class="button" onclick="togglePump()">Toggle Pump</button>'; 
            } else if (operating_mode === 'Auto') {
                buttonContainer.innerHTML += '<button class="button" onclick="changeSettings()">Change Settings</button>';
                buttonContainer.innerHTML += '<button class="button" onclick="clearReadings()">Clear Sensor Readings</button>';                
                buttonContainer.innerHTML += '<button class="button" onclick="manualMode()">Switch to Manual</button>';
            }
        }

        function changeSettings() {
            temp_setting = prompt("Enter desired temperature:");
            moisture_setting = prompt("Enter desired moisture level:");
            fetch('/change_settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify
                ({
                    temp_setting: temp_setting,
                    moisture_setting: moisture_setting,
                    operating_mode: operating_mode
                })
            })
            refresh();
        }

       function clearReadings() {
            fetch('/clear_readings', {
                method: 'GET'
            })
            refresh();
        }

        function manualMode() {
            fetch('/change_settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify
                ({
                    temp_setting: temp_setting,
                    moisture_setting: moisture_setting,
                    operating_mode: "Manual"
                })
            })
            refresh();
        }

        function autoMode() {
            fetch('/change_settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify
                ({
                    temp_setting: temp_setting,
                    moisture_setting: moisture_setting,
                    operating_mode: "Auto"
                })
            })
            refresh();
        }

        function toggleLight() {
            var lValue = '0';
            var pValue = '0';

            if (light === 'Off') {
                lValue = '1'
            } else {
                lValue = '0'
            }

            if (pump === 'Off') {
                pValue = '0'
            } else {
                pValue = '1'
            }

            fetch('/change_state', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify
                ({
                    light: lValue,
                    pump: pValue
                })
            })
            refresh();
        }

        function togglePump() {
            var lValue = '0';
            var pValue = '0';

            if (light === 'Off') {
                lValue = '0'
            } else {
                lValue = '1'
            }

            if (pump === 'Off') {
                pValue = '1'
            } else {
                pValue = '0'
            }

            fetch('/change_state', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify
                ({
                    light: lValue,
                    pump: pValue
                })
            })
            refresh();
        }

        function refresh() {
            // Send an AJAX request to the /refresh route
            fetch('/refresh', {
                method: 'GET',
            })
            .then(response => response.json())
            .then(data => {
                // Update the graph image with the new graph data
                document.getElementById('graphImageTemp').src = 'data:image/png;base64,' + data.graph_data_temp;
                document.getElementById('graphImageMoisture').src = 'data:image/png;base64,' + data.graph_data_moisture;
                document.getElementById("tempSetting").innerText = data.temp_setting;
                document.getElementById("moistureSetting").innerText = data.moisture_setting;
                document.getElementById("operatingMode").innerText = data.operating_mode;
                document.getElementById("light").innerText = data.light;
                document.getElementById("pump").innerText = data.pump;
                temp_setting = data.temp_setting;
                moisture_setting = data.moisture_setting;
                operating_mode = data.operating_mode;
                light = data.light;
                pump = data.pump;
                displayButtons();
            })
            .catch(error => console.error('Error:', error));

        }

        function receiveInput() {
            fetch('/receive_input', {
                method: 'GET'
            })
        }

        setInterval(refresh, 5000);
        setInterval(receiveInput, 1000);
    </script>
</body>
</html>